@using IdentityServer4.Extensions
@{
    string name = null;
    if (!true.Equals(ViewData["signed-out"]))
    {
        name = Context.User?.GetDisplayName();
    }
}
<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="داریک سافت - سیستم احراز هویت کاربران">
    <meta name="author" content="Iman Namvar">
    <meta name="keyword" content="ID4,IdentityServer4,AdminUI,UserManagement,Open,Source,MicroService,Identity,SSO,داریک,داریک سافت,آسانا,حسابداری">
    <title>داریک سافت - سیستم احراز هویت کاربران</title>
    <!-- Icons-->
    <link rel="apple-touch-icon" sizes="180x180" href="@Url.Content("~/images/favicon/apple-touch-icon.png")">
    <link rel="icon" type="image/png" sizes="32x32" href="@Url.Content("~/images/favicon/favicon-32x32.png")">
    <link rel="icon" type="image/png" sizes="16x16" href="@Url.Content("~/images/favicon/favicon-16x16.png")">
    <link rel="manifest" href="@Url.Content("~/images/favicon/site.webmanifest.json")">
    <link rel="mask-icon" href="@Url.Content("~/images/favicon/safari-pinned-tab.svg")" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <link href="@Url.Content("~/css/jp.min.css")" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/rtl/bootstrap-rtl.css" />
    <link href="@Url.Content("~/css/font-vazir.css")" rel="stylesheet">
    @*<script asp-append-version="true" crossorigin="anonymous" src="~/js/app.insights.js"></script>*@
</head>
<body dir="rtl">

    <div class="app flex-row align-items-center">
        <div class="container-fluid">
            <div class="animated fadeIn">
                @RenderBody()
            </div>
        </div>

    </div>
    <footer class="app-footer">
        <div>
            <a href="https://www.dariksoft.com" target="_blank">داریک سافت</a>&nbsp;

        </div>
    </footer>
    <script src="@Url.Content("~/js/jp.min.js")"></script>
    @RenderSection("scripts", required: false)
</body>
</html>